{
    "overrides": [
        {
            "files": "*.ts",
            "options": {
            "parser": "typescript"
            }
        }
    ],
    "useTabs": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all"
}
